<div>
  <h2>Books</h2>
    <table>
      <thead> 
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
      <tbody>
        <% books.each do |item| %>
          <tr>
            <td>
              <%= image_tag item.user.get_prof_image(100, 100) %>
            </td>
            <td><%= link_to item.title, book_path(item.id) %></td>
            <td><%= item.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
