<div>
  <h2>Books</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-1 text-center">User</th>
          <th class="col-3">Title</th>
          <th class="col-8">Opinion</th>
        </tr>
      </thead>
      <tbody>
        <% books.each do |item| %>
          <tr>
            <td class="align-middle text-center">
              <%= link_to user_path(item.user.id) do %>
                <%= image_tag item.user.get_profile_image(100, 100) %>
              <% end %>
            </td>
            <td class="align-middle"><%= link_to item.title, book_path(item.id) %></td>
            <td class="align-middle"><%= item.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
